a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
a:link,
a:visited,
a:hover {
  color: black;
}
.about {
  font-family: "Libre Caslon Text", serif;
  font-style: italic;
  position: absolute;
  top: 30px;
  right: 30px;
}
/*About Page*/
#author-name {
  font-family: "Libre Caslon Text", serif;
  font-size: 13rem;
  font-weight: 400;
  line-height: 0.9;
  position: relative;
  top: 250px;
  float: right;
  right: 40px;
}
.about-paragraph {
  font-family: "Libre Caslon Text", serif;
  font-size: 2.8rem;
  font-weight: 400;
  max-width: 100%;
  width: 850px;
  text-align: center;
  margin: auto;
  margin-top: 35px;
  padding-left: 80px;
  padding-right: 80px;
}
.header-content {
  max-width: 100%;
  width: 980px;
  margin: auto;
  margin-top: -230px;
  margin-bottom: 70px;
}
.about-img {
  width: 700px;
  max-width: 95%;
}
.social {
  font-family: "Libre Caslon Text", serif;
  font-size: 4.5rem;
  font-weight: 400;
  text-align:center;
}
.social-container {
  width: 650px;
  margin: auto;
  max-width: 100%;
  line-height: 0.5;
  margin-top: 100px;
}

.copyrights{
    text-align:center;
    font-family:"Libre Caslon Text", serif;
    font-style: italic;
    font-size:12px;
    margin-top:50px;
    margin-bottom:30px;
}
@media only screen and (max-width:1120px) and (min-width: 775px){
.about-paragraph {
  font-size: 2.2rem;
  padding-left: 25px;
  padding-right: 25px;
  width: 700px;
}
.social {
  font-size:3rem;
}
#author-name{
    font-size: 10rem;
    top: 225px;
    float: right;
    right: 60px;
}
.about-img {
    width: 650px;
}
}

@media only screen and (max-width:775px) and (min-width:625px){ 
.about-paragraph {
  font-size: 2rem;
  padding-left: 15px;
  padding-right: 15px;
  width: 550px;
}
.social {
  font-size:2rem;
}
#author-name{
    font-size: 6rem;
    top: 225px;
    float: right;
    right: 40px;
}
.about-img {
    width: 400px;
}
}
@media only screen and (max-width:625px){ 
.about-paragraph {
  font-size: 1.3rem;
  padding-left: 10px;
  padding-right: 10px;
  width: 350px;
}
.social {
  font-size:1.5rem;
}
#author-name{
    font-size: 6rem;
    top: 154px;
    float: right;
    right: 40px;
}
.about-img {
    width: 300px;
}
}
