* {
  margin: 0px;
  padding: 0px; 
  outline: none;
  border: 0px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.mobile-project{
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
.mobile-background-1{
  background:url('../assets/images/homepage/mobile/out-of-context.jpeg')  no-repeat center center;
  background-size: cover;
}
.mobile-background-2{
  background:url('../assets/images/homepage/mobile/in-a-wonderland.jpg') no-repeat center center;
  background-size: cover;
}
.mobile-background-3{
  background:url('../assets/images/homepage/mobile/shot-on-a-thursday.jpg') no-repeat center center;
  background-size: cover;
}

.project-title{
  font-weight: 400;
  font-size: 3rem;
  line-height: 0.8;
  font-family: "Libre Caslon Text", serif;
  font-style: italic;
  color:white;
  text-align:center;
  z-index:2;
  position:relative;
  top:105px;

}
