a:link,
a:visited,
a:hover {
  color: white;
}
.work-item {
  color: white;
}
.negative {
  color: white;
}
.about {
  color: white;
}
#container {
  background-color: black;
}
.work-item:hover {
  color: black;
}
