@font-face {
  font-family: "LibreCaslon";
  src: url("../assets/fonts/LibreCaslonText-Regular.ttf") format("truetype"),
    url("../assets/fonts/LibreCaslonText-Italic.ttf") format("truetype");
}
html,
body {
  height: 100%;
  overflow-y: hidden;
}
body {
  margin: 0px;
}
#container {
  min-height: 100%;
  overflow-x: hidden;
}
.work {
  font-family: "Libre Caslon Text", serif;
  font-style: italic;
  margin: -10px auto auto auto;
  width: 1080px;
  max-width: 100%;
  height: 102vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.work::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.work-item {
  font-weight: 400;
  font-size: 5.5rem;
  line-height: 0;
  display: inline-block;
}
.work-item:hover {
  color: white;
}
.negative {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 40px;
}
.about {
  font-family: "Libre Caslon Text", serif;
  font-style: italic;
  position: absolute;
  top: 30px;
  right: 30px;
}
